.detail-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.detail-view img {
  width: 100%;
}

.detail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.detail-info-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.detail-info-header h2 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 0;
}

.detail-view p {
  width: 100%;
  margin: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-info-gender {
  color: #636363;
}

.detail-info-profession {
  color: #636363;
  font-style: italic;
}

@media (min-width: 600px) {
  .detail-view {
    padding: 2rem 0;
  }
}

@media (min-width: 900px) {
  .detail-view {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem 0;
  }
  .detail-view img {
    width: 60%;
  }
  .detail-info {
    width: 40%;
  }
  .detail-info-header h2 {
    margin: 0;
  }
}
