.homepage {
  width: 100%;
}

.homepage h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0;
}

.homepage h3 {
  font-size: 2.3rem;
  font-weight: 400;
  color: #636363;
  margin-top: 0;
}

.worker-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
