.homepage {
  width: 100%;
}

.homepage h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 0;
}

.homepage h3 {
  font-size: 2.3rem;
  font-weight: 400;
  color: #636363;
  margin-top: -0.6rem;
}

.worker-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 600px) {
  .worker-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .worker-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
