.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #f5f5f5;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  z-index: 100;
}

.header__logo {
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  object-fit: contain;
}

.header__title {
  font-size: 1.3rem;
  color: #222;
  text-decoration: none;
}
