.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 5rem 1rem;
}

@media (min-width: 600px) {
  .layout {
    padding: 5rem 3rem;
  }
}

@media (min-width: 900px) {
  .layout {
    padding: 5rem;
  }
}
