#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
